#titel { color: blueviolet; font-size: 40px;}
* {color: blueviolet;background-color: black; font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif}

li {font-size: 22px;}

* {text-align: center;}

